@model TCM.Models.TestCase
@{
    ViewData["Title"] = "Details";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><strong>Action</strong></td>
                    <td><strong>Result</strong></td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Steps)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Result)</td>
                        
                    </tr>
                }
            </tbody>

        </table>
        <a asp-controller="App" asp-action="AddSteps" asp-route-testCaseId="@Model.Id" class="btn btn-success">Add Steps</a>
    </div>

</div>
