@model IEnumerable<TCM.Models.TestCase>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome!</h1>
        <p>This app will allow you to organize your test cases and store exection results.</p>
        <a asp-controller="App" asp-action="TestCases" class="btn btn-lg btn-success">View My Test Cases</a>
    </div>

</div>

